# github actions
.github                                             @BitGo/btc-team @BitGo/infra
renovate.json                                       @BitGo/btc-team @BitGo/infra

## THIS SHOULD ALWAYS BE LAST ##
* @BitGo/btc-team
